body 
{
    background-color: papayawhip;
    color:#e66465;
    max-width: 1000px;
    margin:auto
}

h1
{
    color: #000;
}

#fejlec {
    background-image: url("szines.png");
    background-size: auto;
    padding: 1rem;
}

#fokeret {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    padding: 10px;
}

@media screen and (max-width: 1000px) {
    #fokeret {
        flex-wrap: wrap;
    }
    
    #menu {
        margin: auto;
        width: 100%;
    }

    #menu ul {
        text-align: center;
    }

    #menu ul li {
        display: inline-block;
    }
} 


#menu ul li {
    list-style-image: url("chili-pepper-icon.gif");
    background: linear-gradient(#e66465, #9198e5);
    border: 1px solid cadetblue;
    padding: 10px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: #000;
}

table {
    width: 300px;
    background: linear-gradient(#e66465, #9198e5);
    margin: 20px auto auto auto;
    border-collapse: collapse;
    color: #000;
    outline-color: red; 
}

table, th, tr, td {
    border: 1px solid black;
    text-shadow: black;    
    font-weight: bold;
    padding: 5px;
}

table td:nth-child(2) {
    width: 120px;
    text-align: center;
}

table tr:nth-child(2) td:nth-child(2) {
    background-color: palevioletred;
}

table tr:nth-child(3) td:nth-child(2) {
    background-color: palevioletred;
}

table tr:nth-child(4) td:nth-child(2) {
    background-color: palevioletred;
}

table tr:nth-child(5) td:nth-child(2) {
    background-color:palevioletred; 
}